body {
    font-size: 1.8rem;
    font-family: "Fira Sans", sans-serif;
    color: #383838;
    background-color: #f8f8f8;
}

.navbar {
    background-color: #0000FF;
    color: #fff;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.navbar-header > a {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
